.Field {
  width: 75%;
  min-height: 90vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#chakra-modal-Field {
  width: 95%;
}
