.content3 {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 5% 1%;
  color: var(--fontDark);
}

.content3 .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

.content3 h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.content3 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content3 li {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 20px 20px;
  color: var(--fontDark);
  background-color: white;
  box-shadow: rgb(0 0 0 / 30%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  margin: 1%;
  font-size: 20px;
}

@media (min-device-width: 480px) {
  .content3 {
    margin: 1% 5%;
  }
  .content3 .container {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
  }
  .content3 li {
    min-width: 110px;
    min-height: 110px;
    transition: all 0.3s ease;
    padding: 20px 10px;
    margin: 10px;
    font-size: 25px;
  }
  .content3 li:hover {
    transform: scale(1.1);
    color: white;
    background-color: var(--baseBlue);
  }
}
@media (min-device-width: 1120px) {
  .content3 {
    flex-direction: row;
    margin: 1% 10%;
  }
  .content3 ul {

    flex-wrap: nowrap;
  }
}
