.footer1 {
  background-color: var(--backLight);
  color: var(--fontDark);
  padding-top: 15px;
}

.footer1 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  justify-content: space-between;
  padding: 0 2%;
  padding-bottom: 3%;
}

.footer1 .container__img {
  width: 100%;
  text-align: center;
}

.footer1 .container__list {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer1 h1 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.footer1 span {
  color: var(--baseBlue);
}

.footer1 h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.footer1 span {
  color: var(--baseBlue);
}

.footer1 p {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer1 a {
  text-decoration: none;
  color: var(--fontDark);
  padding: 3px;
  padding-left: 0;
}

.footer1 a:hover {
  color: var(--baseBlue);
  font-weight: 400;
}

.footer1 img {
  width: 20%;
  margin-top: 30px;
}

.footer1 ul {
  list-style: none;
  padding: 0;
}

.footer1 li {
  font-size: 20px;
  font-weight: 200;
  padding: 3px;
  padding-left: 0;
}

.footer1 .sign {
  font-size: 15px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5px;
}

@media (min-device-width: 820px) {
  .footer1 .container {
    margin: 0 5%;
    padding: 0;
    padding-bottom: 5%;
  }
  .footer1 .container__img {
    width: 25%;
    text-align: left;
  }
  .footer1 .container__list {
    width: 25%;
  }
  .footer1 img {
    width: 70%;
    margin-top: 0px;
  }
  .footer1 p {
    font-size: 25px;
  }
  .footer1 h4 {
    text-align: left;
  }
  .footer1 ul {
    text-align: left;
  }
  .footer1 li {
    font-size: 25px;
  }
  .footer1 .sign {
    font-size: 12px;
  }
}
@media (min-device-width: 1120px) {
  .footer1 .container {
    margin: 0 10%;
    padding-bottom: 3%;
    flex-wrap: nowrap;
  }
  .footer1 .sign {
    font-size: 15px;
  }
}
